<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="image.css">
    <script src="https://kit.fontawesome.com/a0e1d36fc8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <title>Image</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="../../index.html">Feather UI</a>
        <div class="navbar">
            <ul>
                <li class="nav-item"><a href="../../index.html">Home</a></li>
                <li class="nav-item"><a href="../avatar/avatar.html">Documentation</a></li>
            </ul>
        </div>
    </header>

    <div class="page-content">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li><a class="sidebar-item" href="../../components/avatar/avatar.html">Avatar</a></li>
                <li><a class="sidebar-item" href="../../components/alert/alert.html">Alert</a></li>
                <li><a class="sidebar-item" href="../../components/badge/badge.html">Badge</a></li>
                <li><a class="sidebar-item" href="../../components/button/button.html">Button</a></li>
                <li><a class="sidebar-item" href="../../components/card/card.html">Card</a></li>
                <li class="current-page"><a class="sidebar-item" href="image.html">Image</a></li>
                <li><a class="sidebar-item" href="../../components/input/input.html">Input</a></li>
                <li><a class="sidebar-item" href="../../components/list/list.html">List</a></li>
                <li><a class="sidebar-item" href="../../components/navigation/navigation.html">Navigation</a></li>
                <li><a class="sidebar-item" href="../../components/snackbar/snackbar.html">Snackbar</a></li>
            </ul>
        </div>

        <div class="main-content">
            <h1 class="current-item">Image</h1>
            <p class="description">
                Images play an important role in any webpage. CSS plays a good role to control image display. You can
                set the following image properties using CSS. The width property is used to set the width of an image.
                The height property is used to set the height of an image.
            </p>

            <div class="section">
                <h4 class="current-item">Responsive Image</h4>
                <br>
                <div>
                   <img class="image-responsive" src="../../assets/card/nature.jpg"/>
                </div>
                <div class="code-example">
                    <pre>
                        <code class="language-html">
                          <div class="language-markup">
                            <img class="image-responsive" src="../../assets/card/nature.jpg"/>
                          </div>
                        </code>
                    </pre>
                </div>
            </div>

            <div class="section">
                <h4 class="current-item">Responsive Image</h4>
                <br>
                <div>
                   <img class="image-round" src="../../assets/card/nature.jpg"/>
                </div>
                <div class="code-example">
                    <pre>
                        <code class="language-html">
                          <div class="language-markup">
                            <img class="image-round" src="../../assets/card/nature.jpg"/>
                          </div>
                        </code>
                    </pre>
                </div>
            </div>

        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="../../preFormatter.js"></script>
</body>

</html>