@import url(https://feather-com.netlify.app/styles.css);

.image-responsive {
    height: auto;
    max-width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
}

.image-round {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}