@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Outfit&display=swap');

body{
    font-family: 'Outfit', sans-serif;
}

:root{
    --primary-color: #8A39E1;
    --light-color: #B667F1;
    --white-color: white;
    --black-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: red solid 1px; */
}

.header {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.logo {
    margin: 1rem;
    /* padding: 1rem; */
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.logo:hover{
    color: var(--light-color);
}

.navbar {
    margin-left: auto;
}

.nav-item {
    display: inline;
    margin: 1rem;
    /* padding: 1rem; */
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

.logo-name{
    color: var(--primary-color);
}

.main{
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.main-body{
    margin: 2rem 20rem;
}

.main-heading{
    font-size: xx-large;
    font-weight: bold;
    /* margin: 1rem; */
    padding: 1rem;
}

.main-subtitle{
    /* margin: 1rem; */
    padding: 1rem;
    font-size: normal;
    font-weight: normal;
}

.main-buttons{
    /* margin: 1rem; */
    padding: 1rem;
    text-align: center;
}

.primary-button{
    margin: 0 1rem;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: var(--black-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    box-shadow: var(--black-color) 5px 5px 5px;
}

.secondary-button{
    margin: 0 1rem;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white-color);
    cursor: pointer;
    border: var(--black-color) solid 1px;
    box-shadow: var(--black-color) 5px 5px 5px;
}

.primary-button:hover{
    background-color: var(--light-color);
    color: var(--white-color);
    transition: 0.8s;
}

.secondary-button:hover{
    color: var(--white-color);
    background-color: var(--light-color);
    transition: 0.8s;
}
