<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <title>Avatar</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="../../index.html">Feather UI</a>
        <div class="navbar">
            <ul>
                <li class="nav-item"><a href="../../index.html">Home</a></li>
                <li class="nav-item"><a href="avatar.html">Documentation</a></li>
            </ul>
        </div>
    </header>

    <div class="page-content">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li class="current-page"><a class="sidebar-item" href="avatar.html">Avatar</a></li>
                <li><a class="sidebar-item" href="../../components/alert/alert.html">Alert</a></li>
                <li><a class="sidebar-item" href="../../components/badge/badge.html">Badge</a></li>
                <li><a class="sidebar-item" href="../../components/button/button.html">Button</a></li>
                <li><a class="sidebar-item" href="../../components/card/card.html">Card</a></li>
                <li><a class="sidebar-item" href="../../components/image/image.html">Image</a></li>
                <li><a class="sidebar-item" href="../../components/input/input.html">Input</a></li>
                <li><a class="sidebar-item" href="../../components/list/list.html">List</a></li>
                <li><a class="sidebar-item" href="../../components/navigation/navigation.html">Navigation</a></li>
                <li><a class="sidebar-item" href="../../components/snackbar/snackbar.html">Snackbar</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1 class="current-item">Avatars</h1>
            <p class="description">
                Users can choose from a variety of avatars to use as their profile photo. They're always going to be
                rounded squares on GitHub. They can be bespoke pictures that users provide or Identicons that are
                created as placeholders.
                <br>
                <br>
                Avatars can either be the images of that person, vector images or any random images.
            </p>
            <div class="section">
                <h4 class="current-item">Basic Avatars</h4>
                <p>Circular Avatars for embedding at various profile picture related spaces. Use the given code snippet
                    and you're done.</p>
                <br>
                <div>
                    <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar1.jpg" />
                    <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar2.png" />
                    <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar3.png" />
                </div>
                <div class="code-example">
                    <pre>
                        <code class="language-html">
                          <div class="language-markup">
                            <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar1.jpg" />
                            <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar2.png" />
                            <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar3.png" />
                          </div>
                        </code>
                    </pre>
                </div>
            </div>


            <div class="section">
                <h4 class="current-item">Varied size Avatars</h4>
                <p>Here are avatars with different sizes. Use the given code snippet and you're done.</p>
                <br>
                <div>
                    <img class="avatar avatar-basic avatar-sm" src="../../assets/avatar/basic-avatar1.jpg" />
                    <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar1.jpg" />
                    <img class="avatar avatar-basic avatar-lg" src="../../assets/avatar/basic-avatar1.jpg" />
                </div>
                <div class="code-example">
                    <pre>
                        <code class="language-html">
                          <div class="language-markup">
                            <img class="avatar avatar-basic avatar-sm" src="../../assets/avatar/basic-avatar1.jpg" />
                            <img class="avatar avatar-basic" src="../../assets/avatar/basic-avatar1.jpg" />
                            <img class="avatar avatar-basic avatar-lg" src="../../assets/avatar/basic-avatar1.jpg" />
                          </div>
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="../../preFormatter.js"></script>
</body>

</html>