<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="../../index.html">Feather UI</a>
        <div class="navbar">
            <ul>
                <li class="nav-item">Home</li>
                <li class="nav-item">Documentation</li>
            </ul>
        </div>
    </header>

    <div class="page-content">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
                <li><a class="sidebar-item" href="avatar.html">Avater</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Avatars</h1>
            <p class="description">
                Users can choose from a variety of avatars to use as their profile photo. They're always going to be
                rounded squares on GitHub. They can be bespoke pictures that users provide or Identicons that are
                created as placeholders.
                <br>
                <br>
                Avatars can either be the images of that person, vector images or any random images.
            </p>
        </div>
    </div>

</body>

</html>