@import url(https://feather-com.netlify.app/styles.css);

.list{
    margin: 1rem 2rem;
}

.list li{
    padding: 0.2rem;
}

.list-alphabetic{
    list-style-type: lower-alpha;
}

.list-stacked{
    margin: 1rem;
}

.list-stacked li{
    display: flex;
    flex-direction: column;
    border: var(--primary-color) dashed 1px;
    list-style-type: none;
    width: 25rem
}

.list-stacked p{
    padding: 0.5rem;
}

.list-stacked small{
    align-self: flex-end;
    padding: 00.2rem;
}