<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navigation.css">
    <script src="https://kit.fontawesome.com/a0e1d36fc8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <title>Navigation</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="../../index.html">Feather UI</a>
        <div class="navbar">
            <ul>
                <li class="nav-item"><a href="../../index.html">Home</a></li>
                <li class="nav-item"><a href="../avatar/avatar.html">Documentation</a></li>
            </ul>
        </div>
    </header>

    <div class="page-content">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li><a class="sidebar-item" href="../../components/avatar/avatar.html">Avatar</a></li>
                <li><a class="sidebar-item" href="../../components/alert/alert.html">Alert</a></li>
                <li><a class="sidebar-item" href="../../components/badge/badge.html">Badge</a></li>
                <li><a class="sidebar-item" href="../../components/button/button.html">Button</a></li>
                <li><a class="sidebar-item" href="../../components/card/card.html">Card</a></li>
                <li><a class="sidebar-item" href="../../components/image/image.html">Image</a></li>
                <li><a class="sidebar-item" href="../../components/input/input.html">Input</a></li>
                <li><a class="sidebar-item" href="../../components/list/list.html">List</a></li>
                <li class="current-page"><a class="sidebar-item" href="navigation.html">Navigation</a></li>
                <li><a class="sidebar-item" href="../../components/snackbar/snackbar.html">Snackbar</a></li>
            </ul>
        </div>

        <div class="main-content">
            <h1 class="current-item">Navigation</h1>
            <p class="description">
                A Navigation bar or navigation system comes under GUI that helps the visitors in accessing information.
                It is the UI element on a webpage that includes links for the other sections of the website.
                <br>
                <br>
                A navigation bar is mostly displayed on the top of the page in the form of a horizontal list of links.
            </p>

            <div class="section">
                <div>
                    <div class="navigation">
                        <div class="navigation-logo">Feather-store</div>
                        <input class="navigation-search" placeholder="Search"/>
                        <a class="navigation-item">Store</a>
                        <a class="navigation-item">Whishlist</a>
                        <a class="navigation-item">Cart</a>
                    </div>
                </div>
                <div class="code-example">
                    <pre>
                        <code class="language-html">
                          <div class="language-markup">
                            <div class="navigation">
                                <div class="navigation-logo">Feather-store</div>
                                <input class="navigation-search" placeholder="Search"/>
                                <a class="navigation-item">Store</a>
                                <a class="navigation-item">Whishlist</a>
                                <a class="navigation-item">Cart</a>
                            </div>
                          </div>
                        </code>
                    </pre>
                </div>
            </div>
        </div>




    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="../../preFormatter.js"></script>
</body>

</html>