<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <script src="https://kit.fontawesome.com/a0e1d36fc8.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="../../index.html">Feather UI</a>
        <div class="navbar">
            <ul>
                <li class="nav-item">Home</li>
                <li class="nav-item">Documentation</li>
            </ul>
        </div>
    </header>

    <div class="page-content">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li><a class="sidebar-item" href="../../components/avatar/avatar.html">Avatar</a></li>
                <li class="current-page"><a class="sidebar-item" href="badge.html">Badge</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1 class="current-item">Badges</h1>
            <p class="description">
                Badges are used to add additional information to any content. Alternatively, they can also be considered
                as numerical indicators of how many items are associated with a link.
                <br>
                <br>
                The notification number is seen when logged in to a particular website which tells the numbers of news
                or notifications to see by clicking it.
            </p>
            <div class="section">
                <div class="badge-base">
                    Text with a badge
                    <span class="badge">11</span>
                </div>
                <div class="code-example">
                    <iframe src="https://carbon.now.sh/embed/"
                        style="width: 100%; height: 125px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="badge-base"> Badge on an icon
                    <i class="fas fa-home"></i>
                    <span class="badge">+1</span>
                </div>

                <div class="badge-base"> Badge on an avatar
                    <img class="badge-img" src="../../assets/avatar/basic-avatar1.jpg" />
                    <span class="badge">+1</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>